################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/Ventas/obj
/Ventas.Application/bin
/Ventas.Application/obj
/Ventas.CrossCutting/bin
/Ventas.CrossCutting/obj
/Ventas.CrossCutting.Test/bin/Debug
/Ventas.CrossCutting.Test/obj
/Ventas.DataAccess/bin
/Ventas.DataAccess/obj
/Ventas.DataAccess.Test/bin/Debug
/Ventas.DataAccess.Test/obj
/Ventas.Domain/bin
/Ventas.Domain/obj
/Ventas.Domain.Test/bin/Debug
/Ventas.Domain.Test/obj
/Ventas.WebJob.CargaDeSabanaClientes/bin
/Ventas.WebJob.CargaDeSabanaClientes/obj
/VentasAPI/bin
/VentasAPI/obj
/packages
/Ventas.CrossCutting.Test/bin/Release
/Ventas.DataAccess.Test/bin/Release
/Ventas.Domain.Test/bin/Release
